<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Fathom - beautiful, simple website analytics -->
    <!-- / Fathom -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@philip_kiely">
    {% block twitter %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    {% block head %}{% endblock %}
</head>

<body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script src="/assets/bundle.js"></script>
    <script src="/assets/script.js"></script>
</body>

</html>