<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row g-4">
        <div class="col-12 col-md d-flex">
            <img class="me-4" src="/assets/img/logo.png" alt="" width="50" height="50">
            <div>
                <small class="d-block mb-1 text-muted">Copyright &copy; 2020 &ndash; <span id="year">2021</span></small>
                <a href="https://pkandc.com/">Philip Kiely & Company</a>
                <small class="d-block mb-1 text-muted">Version 0.3.0</small>
            </div>
        </div>
        <div class="col-12 col-md">
            <p>Open source on <a href="https://github.com/philipkiely/whopaystechnicalwriters/">GitHub</a> under the <a
                    href="https://github.com/philipkiely/whopaystechnicalwriters/blob/main/LICENSE">MIT License</a>.</p>
            <p>View <a href="https://app.usefathom.com/share/laubzbzc/whopaystechnicalwriters.com">this site's
                    privacy-respecting analytics</a> from Fathom.</p>
        </div>
    </div>
</footer>