<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img id="nav-headshot" src="/assets/img/logo.png" width="50"
                height="50" class="d-inline-block align-top img-rounded" alt="Navigate Home"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/">Main</a>
            </div>
        </div>
    </div>
</nav>