{% extends "base.html" %}

{% block title %}About — PK&C{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="Philip Kiely & Company">
<meta name="twitter:description" content="PK&C helps creators operate successful businesses.">
<meta name="twitter:image" content="https://pkandc.com/assets/img/twitter_thumbnail_pkc.png" />
{% endblock %}

{% block head %}
<!--<link rel="stylesheet" href="/assets/css/about.css" type="text/css">
<script src="/assets/js/about.js"></script>-->
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Coming Soon(ish)</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}