{% extends "base.html" %}

{% block title %}Philip Kiely & Company{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="Philip Kiely & Company">
<meta name="twitter:description" content="Creator Economy Consultations.">
<meta name="twitter:image" content="https://pkandc.com/assets/img/twitter_thumbnail_pkc.png" />
{% endblock %}

{% block head %}
<!--<link rel="stylesheet" href="/assets/css/index.css" type="text/css">
<script src="/assets/js/index.js"></script>-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Creator Economy Consultations</h1>
                <p class="lead my-4">You're an investor, operator, or corporation who needs direct insight into how the creator economy really works. I can answer the questions that stand between you and your next strategic direction.</p>
                <p class="lead text-muted my-4">Trusted by dozens of clients on top expert networks:</p>
                <div class="row align-items-center">
                    <div class="col-4">
                        <img class="img-fluid" src="/assets/img/glg.png" alt="glg">
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="/assets/img/Guidepoint_Vert_RGB.jpg" alt="guidepoint">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="/assets/img/alphasights.png" alt="alphasights">
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5 mb-4 mb-lg-3">
                    <a href="https://calendly.com/philipkiely/pk-c-introduction" target="_blank"
                        class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Let's Chat</a>
                    <a href="mailto:philip@kiely.xyz" class="btn btn-outline-secondary btn-lg px-4">Email Philip</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img id="header-img" src="/assets/img/video_call.png" alt="Philip at Desk on Video Call">
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Broad Intuition or Minute Detail on:</h2>
    <div class="row g-4 pt-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/journal-richtext.svg" alt="Books" width="32" height="32">
            </div>
            <div>
                <h2>Content Creation</h2>
                <h2>&nbsp;</h2>
                <p>Understand how top creators spend their time to create what is meaningful to their audience.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/newspaper.svg" alt="Newsletters" width="32" height="32">
            </div>
            <div>
                <h2>Distribution and Platforms</h2>
                <p>Discuss trends in social media and owned channels where creators grow and retain their audience.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/bookmarks.svg" alt="Blogs" width="32" height="32">
            </div>
            <div>
                <h2>Monetization and Business Practices</h2>
                <p>Position your new product to support creators' top revenue channels or business expenses.</p>
            </div>
        </div>
    </div>
</div>
<div class="container px-4 pb-5">
    <h2 class="pb-2 border-bottom">Bio</h2>
    <div class="row g-4 py-5">
        <div class="col-12">
            <p>Philip Kiely is the author of <a href="/wfsd">Writing for Software Developers</a> and runs <a
                    href="https://pkandc.com">PK&C</a>, the world's smallest conglomerate. He graduated from Grinnell College in
                May 2020 with a degree in computer science. Before a stint as <a href="/essays/gumroad_hom.html">Head of
                    Marketing</a> at <a href="https://gumroad.com">Gumroad</a>, he began his career writing code for <a
                    href="https://markforged.com">Markforged</a>, <a
                    href="https://en.wikipedia.org/wiki/Principal_Financial_Group">Principal Financial</a>, and <a
                    href="https://en.wikipedia.org/wiki/CUNA_Mutual_Group">CUNA Mutual Group</a>. Philip’s professional hobbies
                include appearing on podcasts and panels, sending cold emails, and tweeting about business. He also plays D&D,
                practices martial arts, and reads widely.</p>
        </div>
    </div>
</div>
{% endblock %}