{% extends "base.html" %}

{% block title %}Philip Kiely & Company{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="Philip Kiely & Company">
<meta name="twitter:description" content="PK&C helps creators operate successful businesses.">
<meta name="twitter:image" content="https://pkandc.com/assets/img/twitter_thumbnail_pkc.png" />
{% endblock %}

{% block head %}
<!--<link rel="stylesheet" href="/assets/css/index.css" type="text/css">
<script src="/assets/js/index.js"></script>-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Professional Editors for the Creator Economy</h1>
                <p class="lead my-4">If you earn money by putting words on the internet, we want to help you publish your best work every time.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="https://calendly.com/philipkiely/pk-c-introduction" target="_blank" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Let's Chat</a>
                    <a href="mailto:philip@kiely.xyz" class="btn btn-outline-secondary btn-lg px-4">Email Philip</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img id="header-img" src="/assets/img/video_call.png" alt="Philip at Desk on Video Call">
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Bespoke support for your...</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/journal-richtext.svg" alt="Books" width="32" height="32">
            </div>
            <div>
                <h2>Book</h2>
                <p>Create an enduring information product that generates revenue for years.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/newspaper.svg" alt="Newsletters" width="32" height="32">
            </div>
            <div>
                <h2>Newsletter</h2>
                <p>Deliver consistent quality to your ever-growing readership.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/bookmarks.svg" alt="Blogs" width="32" height="32">
            </div>
            <div>
                <h2>Blog</h2>
                <p>Publish compelling evergreen content that keeps readers coming back.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5 bg-grey-100">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-lg-8">
                <h2 class="pb-4 mb-4 fst-italic border-bottom">
                    Why hire an editor?
                </h2>
                <h5>The secret behind every writer, creator, artist, and influencer who makes it big: great help behind the scenes.</h5>
                <p>We do more than fix commas (but we'll catch those, too). We would be thrilled to partner with you throughout your creative process. Or, you can mix and match services as your project needs.</p>
                <p>Contact us for help with:</p>
                <p><b>Ideation</b></p>
                <ul>
                    <li>Relocate your ideas from your head to the page</li>
                    <li>Determine the scope and structure of your project</li>
                    <li>Research your target audience</li>
                </ul>
                <p><b>Writing</b></p>
                <ul>
                    <li>Provide accountability in the writing process</li>
                    <li>Discuss difficult sections and address writer's block</li>
                    <li>Learn your voice and grow with your style</li>
                </ul>
                <p><b>Developmental Editing</b></p>
                <ul>
                    <li>Improve organization, focus, and clarity</li>
                    <li>Engage beta readers in your domain</li>
                    <li>Discuss and refine product and packaging</li>
                </ul>
                <p><b>Copyediting</b></p>
                <ul>
                    <li>Target feedback to address recurring issues</li>
                    <li>Meet you where you are and help your writing improve</li>
                    <li>Check facts and format citations</li>
                </ul>
                <p><b>Proofreading</b></p>
                <ul>
                    <li>(This is the part where we fix the commas)</li>
                </ul>
                <p><b>Formatting and Publishing</b></p>
                <ul>
                    <li>Format your work as a PDF, EPUB, MOBI, or any other combination of capital letters</li>
                    <li>Assist with your landing page and marketing materials</li>
                    <li>Shout your accomplishments from the rooftops</li>
                </ul>
            </div>
            <div class="d-none d-lg-block col-lg-4">
                <img class="img-fluid" src="/assets/img/why_editor.png">
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <h2 class="pb-4 mb-4 fst-italic border-bottom">
                Why PK&C?
            </h2>
            <h5>Work with the first author services agency built for the creator economy, not major publishers.</h5>
            <p>Get better quality than wading through freelancer forums without the expense of a full-time employee.</p>
            <p>We offer:</p>
            <ul>
                <li>A dedicated editor supported by the full team</li>
                <li>Workflows that mesh with your creative process</li>
                <li>Domain familiarity and fluency in creator economy terms</li>
            </ul>
            <p>Working with us on a one-off basis brings effective support to your most pressing project, but the true magic of great editorial assistance comes from a professional relationship built over time. We grow along with you as your creative needs develop.</p>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <img class="img-fluid" src="/assets/img/why_pk&c_2.png">
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row row-cols-1 row-cols-lg-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div width="100%" height="225" class="card-img-top">
                    <img class="img-fluid" src="/assets/img/philipkiely.jpg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Philip Kiely</h5>
                    <p class="card-text">Philip is the author of <i>Writing for Software Developers</i> and <i>Cold Email for Interesting People</i>. The former head of marketing at Gumroad, he is a graduate of Grinnell College with an honors degree in computer science.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://philipkiely.com" target="_blank" class="btn btn-sm btn-outline-secondary">Website</a>
                            <a href="https://philipkiely.com/products" target="_blank" class="btn btn-sm btn-outline-secondary">Work</a>
                        </div>
                        <small class="text-muted">CEO</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div width="100%" height="225" class="card-img-top">
                    <img class="img-fluid" src="/assets/img/robinbourjaily.jpg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Robin Bourjaily</h5>
                    <p class="card-text">Robin has over 30 years of experience working with writers in educational and editorial settings. She holds an MFA in creative nonfiction from the University of Iowa. She has authored two novels and edited both of Philip's books.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://posesandprose.com" target="_blank" class="btn btn-sm btn-outline-secondary">Website</a>
                            <a href="https://gumroad.com/robinbourjaily" target="_blank" class="btn btn-sm btn-outline-secondary">Work</a>
                        </div>
                        <small class="text-muted">Editor-in-Chief</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div width="100%" height="225" class="card-img-top">
                    <img class="img-fluid" src="/assets/img/internunsplash.jpg">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Student Interns</h5>
                    <p class="card-text">Some places hide the role of students on their staff. We take pride in providing unique, paid educational experiences for exceptionally talented students from Grinnell College. Don't worry, we review all intern work before you see it.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://philipkiely.com/essays/winterns_2020.html" target="_blank" class="btn btn-sm btn-outline-secondary">Website</a>
                            <a href="https://philipkiely.com/essays/winterns_2020.html" target="_blank" class="btn btn-sm btn-outline-secondary">Work</a>
                        </div>
                        <small class="text-muted">Various</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/img/logo.png" alt="PK&C Logo" width="100" height="100">
    <h1 class="display-5 fw-bold">Come say hi</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Use the button below to schedule a free, zero-commitment consultation. In twenty-five structured minutes, we'll discuss your work and our services.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://calendly.com/philipkiely/pk-c-introduction" target="_blank" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Let's Chat</a>
            <a href="mailto:philip@kiely.xyz" class="btn btn-outline-secondary btn-lg px-4">Email Philip</a>
        </div>
    </div>
</div>
{% endblock %}