{% extends "base.html" %}

{% block title %}Philip Kiely & Company{% endblock %}

{% block twitter %}
<meta name="twitter:title" content="Philip Kiely & Company">
<meta name="twitter:description" content="PK&C helps creators operate successful businesses.">
<meta name="twitter:image" content="https://pkandc.com/assets/img/twitter_thumbnail_pkc.png" />
{% endblock %}

{% block head %}
<!--<link rel="stylesheet" href="/assets/css/index.css" type="text/css">
<script src="/assets/js/index.js"></script>-->
{% endblock %}

{% block content %}
<div class="container">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Products and Services for the Creator Economy</h1>
                <p class="lead my-4">If you earn money independently on the internet, we want to help you.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="https://calendly.com/philipkiely/pk-c-introduction" target="_blank" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Let's Chat</a>
                    <a href="mailto:philip@kiely.xyz" class="btn btn-outline-secondary btn-lg px-4">Email Philip</a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
                <img id="header-img" src="/assets/img/video_call.png" alt="Philip at Desk on Video Call">
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Bespoke support for your...</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/journal-richtext.svg" alt="Books" width="32" height="32">
            </div>
            <div>
                <h2><a href="https://philipkiely.com/products">Information Products</a></h2>
                <p>Writing for Software Developers, Cold Email for Interesting People, A Dangerous Guide to Security.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/newspaper.svg" alt="Newsletters" width="32" height="32">
            </div>
            <div>
                <h2><a href="/edits">Editorial Services</a></h2>
                <p>Deliver consistent quality to your ever-growing readership.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img class="bi" src="/assets/img/icons/bookmarks.svg" alt="Blogs" width="32" height="32">
            </div>
            <div>
                <h2><a href="https://printcardinal.com">Print Cardinal</a></h2>
                <p>IRL marketing materials for Gumroad creators.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}